.calculator{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width:200px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
}

#result{
    width: 75%;
    height: 2rem;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    font-size: 2rem;
    border: 2px solid black;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;

}

button{
    padding: 10px;
    font-size: 18px;
    border-radius: 25px;
}

#oper{
    background-color: rgb(18, 214, 214);
}

#opers{
    background-color: rgb(236, 13, 13);
}

/* animation du titre */

@keyframes write {
    from { width: 0; }
    to { width: 100%; }
  }
  
  #p1 {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    text-align: center;;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid rgba(224, 223, 220, 0.507);
    animation: write 10s steps(70, end) backwards; /* Ajout de 'forwards' pour maintenir la dernière valeur de l'animation */
    position: relative; /* Ajout pour positionner correctement le curseur */
  }
  
  /* Nouvelle règle pour masquer le curseur */
  #p1::after {
    content: ''; /* Pour assurer la présence de contenu */
    position: absolute; /* Position absolue par rapport à #p1 */
    top: 0; /* Position au-dessus du texte */
    right: 0; /* Position à l'extrême droite */
    width: 0; /* Largeur nulle pour masquer le curseur */
    height: 100%; /* Hauteur du texte */
    border-right: 0.15em solid transparent; /* Masque complètement le curseur */
  }









/*gestion de la taille des écrans*/

@media (max-width:162px){
    #p1 {
        font-size: 11px;
        }

    .calculator{
        height: 135px;
        width:115px;
        margin: 0 auto;
        border: 1px solid black;
        border-radius: .3px;
    }

    #result{
        width: 75%;
        height: 1rem;
        margin-bottom: 3px;
        padding: 2px;
        font-size: 1rem;
        border: .5px solid black;
    }


    .buttons{
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5px;
    }

    button{
    padding: 3px;
    font-size: 11px;
    border-radius: 8px;
    }



}