@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #675afe;
}

#p1{
    font-size: 18px;
}

section{
    display: flex;
    align-items:center;
    justify-content: center;
    min-width: 400px;
    background-color: #fff;
    padding: 20px;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

img{
    width:250px;
}

h4{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
    font-size: 25px;
}

.search_bar {
    display:flex;
    width: 100%;
    margin-bottom: 10px;
}

input{
    width:75%;
    padding:8px;
    outline: 0;
    border:1px solid #999;
}

button{
    cursor:pointer;
    padding:8px;
    background-color:#675afe;
    color:#fff;
    border:1px solid #675afe;
    letter-spacing: 1px;
    transition:0.5s;
}

button:hover{
    background-color: #2212d9;
}

#button_code_bar{
    width: 25%;
}
#box{
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#pdf_box{
    width: 100%;
}

.error{
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 100%;
    background-color:rgb(189, 92, 92);
    color:#fff;
}

#pdf_box button{
        width: 100%;
}



/*Pour l'animation du titre */

.char {
    display: inline-block;
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeIn 0.5s ease forwards;
  }
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }










 /* Gestion de la taille des écrans */

 @media (max-width:360px){

    section{
        min-width: 300px;
        padding: 15px;
     }

     #p1{
        font-size: 10px;
     }
    
    img{
        width:220px;
    }
    
    h4{
        letter-spacing: 1px;
        margin-bottom: 15px;
        font-size: 22px;
    }
    
    .search_bar {
        margin-bottom: 8px;
    }
    
    input{
        width:70%;
        padding:8px;
    }
    
 }

 @media (max-width:162px){
    section{
        min-width: 100px;
        padding: 5px;
     }
    
    img{
        width:80px;
    }
    
    h4{
        letter-spacing: 0;
        margin-bottom: 5px;
        font-size: 8px;
    }
    
    .search_bar {
        margin-bottom: 3px;
    }
    
    input{
        width:70%;
        padding:3px;
    }

    button{
        padding:2px;
        letter-spacing: .5px;
        font-size: 10px;
    }
   
    #button_code_bar{
        width: 30%;
    }
 }